.pagina-contato {

    .cabeçalho{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .icone{
        width: 100px;
    }
    
    
    .voltar{
        font-size: 32px;
    }
    
    .titulo1{
        color: #237223;
    }





    
}

