
.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.titulo{
    text-align: center;
    margin-bottom: -70px;

}

.icone-not-found{
    position: relative;
    z-index: -1;
    width: 600px;

}